body {
    font-family:Arial, Helvetica, sans-serif;
}
#container{
    border:5px solid grey;
    margin:0 auto;
    padding:10px;
}
#chatLog{
    padding:5px;
    height:400px;
    border:1px solid black;
    overflow: auto;
}
#chatLog p {
    margin:0;
}
li.event {
    color:#000000;
}
li.message {
    color:#999999;
}
li.warning{
    color:#ff0000;
}
.numbox{
    width:100px;
    border:1px solid black;
    margin: 2px;
    /* padding:5px; */
}
.vacform{
    /*width: 80%;
    display: flex;
    justify-content: space-between; */
}

/* hide slider number input */
.full-width-slider input {
    display: none;
}
.full-width-slider .ui-slider-track {
    margin-left: 15px;
}